.input-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.input-wrapper input {
  padding-right: 40px;
  width: -webkit-fill-available;
  background: #3e4a4d;
}

.input-wrapper button {
  position: absolute;
  top: 15%;
  right: 1%;
  background-color: #2faddc;
  cursor: pointer;
  border: 1px solid;
  height: 70%;
  width: 60px;
  border-radius: 5px;
  border-color: #2faddc;
}